body{
    font-family: 'Verdana', sans-serif;
    margin: 0px;
}

main{
    height: 90%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.login{
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

.login span{
    color: white;
    font-size: 12px;
}

#modal{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center; /* Alinea horizontalmente en el centro */
    align-items: center; /* Alinea verticalmente en el centro (opcional) */
    height: 100vh; /* Altura del contenedor, ajusta según tus necesidades */
}

.modal-login{
    background-color: white;
    width: 90%;
    height: 200px;
    border-radius: 5px;
}

.modal-cabecalho i {
    display: flex;
    float: right;
    cursor: pointer;
}

.modal-conteudo {
    display: flex;
    justify-content: center; /* Alinea horizontalmente en el centro */
    align-items: center;
    padding-top: 20px;
}

.modal-conteudo .titulo-login{
    color: #0b0e38;
    text-align: center;
    margin-bottom: 20px;
}

.modal-conteudo .material-icons{
    font-size: 20px;
    color: #8f8f8f;    
}

.login-input{
    display: flex;
}

.login-input input{
    margin: 0px 0px 10px 5px ;
    border-style: none;
    font-size: 14px;
    border-bottom: 2px solid #c5c5c5;
}

.login-input input::placeholder {
    color: #8f8f8f; /* Altera a cor do placeholder para vermelho */
}

.botao-input{
    padding: 5px;
    background: #0b0e38;
    color:white;
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
}

.hide-modal{
    display:none !important;
}

.erro-login{
    color: red;
    font-size: 10px;
}

.erro-input{
    border-bottom: 2px solid #ff0000;
}

.cabecalho{
    background: #0b0e38;
    height: 140px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    height: 30px;
    margin: 10px;
}

.nome-logo{
    font-size: 14px;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


.pesquisa {
    margin-top: 15px;
    width: 100%;
    position: absolute;
    display: block;
}

.pesquisa div {
    margin: auto;
    background-color: white;
    padding: 8px;
    border-radius: 25px;
    width: fit-content;
    height: 30px;
    box-shadow:  5px 5px 5px rgb(99, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
}


.pesquisa div input{
    border-style: none;
    font-size: 14px;
}

.pesquisa div input:focus{
    border-style: none;
}

.pesquisa div img{
    width: 20px;
    margin: 5px;
}

.grupos{
    max-height: 100px;
    white-space: nowrap;
    overflow-y: scroll;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* Firefox */
    position: relative;
}

.item-grupo{
    display: inline-block;
    margin: 8px;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    width: fit-content;
    border-radius: 25px;
    background: #0b0e38;
    color: white;
}

.item-grupo a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.titulo-grupos{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 20px 10px 20px 10px;
    display: block;
}

.recomendacoes{
    margin: 10px;
    height: 230px;
    white-space: nowrap;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    
}

.card-recomendacoes{
    display: inline-block;
    margin: 5px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgb(156, 156, 156);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.card-recomendacoes div{
    margin: 10px;
    text-align: center;
}

.card-recomendacoes img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-recomendacoes .nome-produto{
    font-size: 10px;
}

.card-recomendacoes .preco-produto{
    font-size: 16px;
    color: rgb(163, 12, 105);
    font-weight: bold;
}

.produtos{
    margin: 10px;
    display: block;
    float: left;
}

.produtos div ur{
    display: table;
}

.card-produtos{
    display: flex;
    float: left;
    margin: 5px;
    height: 100px;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgb(156, 156, 156);
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.card-produtos > div{
    margin: 5px 10px 5px 10px;
    position: relative;
}

.card-produtos img{
    width: 110px; /*Largura*/
    height: 100px; /*Altura*/
    object-fit: cover; /*Como ficará o conteudo*/
}

.card-produtos .nome-produto{
    font-weight: bold;
    font-size: 12px;
    color: #0b0e38;
}

.card-produtos .nome-descricao{
    font-size: 10px;
    margin-top: 5px;
}

.card-produtos .preco-produto{
    font-size: 16px;
    color: #0b0e38;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Estilos para telas maiores que 768px (notebook) */
@media screen and (min-width: 768px) {
    .card-produtos {
        width: calc(33.33% - 20px) /* 33.33% de largura, subtraindo o espaçamento */
    }
}


/* Estilos para telas menores que 768px (celular) */
@media screen and (max-width: 767px) {
    .card-produtos {
        width: calc(90% - 5px); /* 50% de largura, subtraindo o espaçamento */
    }
}
